.process {
    color: #ff4500;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.top {
    color: #7c7b7a;
}

.body {
    color: #7c7b7a;
    font-size: 13px;
}
