.main {
    background: linear-gradient(0deg, #000000 0%, #300e0b 55.74%, #cdae63 100%);
}

.formAdjacentText {
    color: #ffffff;
    font-family: Georgia;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 45px;
}

.curationProcess {
    color: #ff4500;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.curationTop {
    color: #7c7b7a;
}

.curationBody {
    color: #7c7b7a;
    font-size: 13px;
}

.blockquote {
    color: #ffffff;
    font-family: Georgia;
    font-size: 22px;
    text-align: center;
    margin-top: 50px;
}

.cite {
    text-align: center;
    color: #fff;
    font-family: Roboto;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 500;
    display: block;
    margin-top: 20px;
}
